<div class="clear"></div>
<!-- FAQ -->
<div id="faq{{ block.id }}" class="section3"  {{ block.shopify_attributes }}>
  <div class="faqtitle">
<h2>{{ block.settings.title }} </h2>
  <p class="faqsubtitle">{{ block.settings.subtitle }}</p>
  </div>
<div class="vallenato">

  {% if block.settings.faqtitle1 != blank %}
  <div class="colheader">
<div class="vallenato-header">
  <span class="faqdot">
  {% if block.settings.iconcode != blank %}
    {{ block.settings.iconcode }}
    {% elsif block.settings.icon %}
      <img src="{{  block.settings.icon | img_url:'12x' }}">
{% endif %}
  </span>
  
  {{ block.settings.faqtitle1 }}
 
  <span class="faqarrow"> 
    <span class="arrup"> 
    {% if block.settings.iconcode2 != blank %}
    {{ block.settings.iconcode2 }}
    {% elsif block.settings.icon2 %}
      <img src="{{  block.settings.icon2 | img_url:'12x' }}">
{% endif %}
    </span> 
    <span class="arrdown"> 
     {% if block.settings.iconcode3 != blank %}
    {{ block.settings.iconcode3 }}
    {% elsif block.settings.icon3 %}
      <img src="{{  block.settings.icon3 | img_url:'12x' }}">
{% endif %}
    </span> 
  </span>
  
  </div>
 <div class="vallenato-content">
   {% if block.settings.faqtext1 != blank %}
  {{ block.settings.faqtext1 }}
   {% endif %}
  </div>
    </div>
   {% endif %}
  
 {% if block.settings.faqtitle2 != blank %}
  <div class="colheader odd">
<div class="vallenato-header">
  <span class="faqdot">
  {% if block.settings.iconcode != blank %}
    {{ block.settings.iconcode }}
    {% elsif block.settings.icon %}
      <img src="{{  block.settings.icon | img_url:'12x' }}">
{% endif %}
  </span>
  
  {{ block.settings.faqtitle2 }}
 
  <span class="faqarrow"> 
    <span class="arrup"> 
    {% if block.settings.iconcode2 != blank %}
    {{ block.settings.iconcode2 }}
    {% elsif block.settings.icon2 %}
      <img src="{{  block.settings.icon2 | img_url:'12x' }}">
{% endif %}
    </span> 
    <span class="arrdown"> 
     {% if block.settings.iconcode3 != blank %}
    {{ block.settings.iconcode3 }}
    {% elsif block.settings.icon3 %}
      <img src="{{  block.settings.icon3 | img_url:'12x' }}">
{% endif %}
    </span> 
  </span>
  
  </div>
 <div class="vallenato-content">
   {% if block.settings.faqtext2 != blank %}
  {{ block.settings.faqtext2 }}
   {% endif %}
  </div>
    </div>
   {% endif %}

  
   {% if block.settings.faqtitle3 != blank %}
  <div class="colheader">
<div class="vallenato-header">
  <span class="faqdot">
  {% if block.settings.iconcode != blank %}
    {{ block.settings.iconcode }}
    {% elsif block.settings.icon %}
      <img src="{{  block.settings.icon | img_url:'12x' }}">
{% endif %}
  </span>
  
  {{ block.settings.faqtitle3 }}
 
  <span class="faqarrow"> 
    <span class="arrup"> 
    {% if block.settings.iconcode2 != blank %}
    {{ block.settings.iconcode2 }}
    {% elsif block.settings.icon2 %}
      <img src="{{  block.settings.icon2 | img_url:'12x' }}">
{% endif %}
    </span> 
    <span class="arrdown"> 
     {% if block.settings.iconcode3 != blank %}
    {{ block.settings.iconcode3 }}
    {% elsif block.settings.icon3 %}
      <img src="{{  block.settings.icon3 | img_url:'12x' }}">
{% endif %}
    </span> 
  </span>
  
  </div>
 <div class="vallenato-content">
   {% if block.settings.faqtext3 != blank %}
  {{ block.settings.faqtext3 }}
   {% endif %}
  </div>
    </div>
   {% endif %}
  
  
    {% if block.settings.faqtitle4 != blank %}
  <div class="colheader odd">
<div class="vallenato-header">
  <span class="faqdot">
  {% if block.settings.iconcode != blank %}
    {{ block.settings.iconcode }}
    {% elsif block.settings.icon %}
      <img src="{{  block.settings.icon | img_url:'12x' }}">
{% endif %}
  </span>
  
  {{ block.settings.faqtitle4 }}
 
  <span class="faqarrow"> 
    <span class="arrup"> 
    {% if block.settings.iconcode2 != blank %}
    {{ block.settings.iconcode2 }}
    {% elsif block.settings.icon2 %}
      <img src="{{  block.settings.icon2 | img_url:'12x' }}">
{% endif %}
    </span> 
    <span class="arrdown"> 
     {% if block.settings.iconcode3 != blank %}
    {{ block.settings.iconcode3 }}
    {% elsif block.settings.icon3 %}
      <img src="{{  block.settings.icon3 | img_url:'12x' }}">
{% endif %}
    </span> 
  </span>
  
  </div>
 <div class="vallenato-content">
   {% if block.settings.faqtext4 != blank %}
  {{ block.settings.faqtext4 }}
   {% endif %}
  </div>
    </div>
   {% endif %}
  
      {% if block.settings.faqtitle5 != blank %}
  <div class="colheader">
<div class="vallenato-header">
  <span class="faqdot">
  {% if block.settings.iconcode != blank %}
    {{ block.settings.iconcode }}
    {% elsif block.settings.icon %}
      <img src="{{  block.settings.icon | img_url:'12x' }}">
{% endif %}
  </span>
  
  {{ block.settings.faqtitle5 }}
 
  <span class="faqarrow"> 
    <span class="arrup"> 
    {% if block.settings.iconcode2 != blank %}
    {{ block.settings.iconcode2 }}
    {% elsif block.settings.icon2 %}
      <img src="{{  block.settings.icon2 | img_url:'12x' }}">
{% endif %}
    </span> 
    <span class="arrdown"> 
     {% if block.settings.iconcode3 != blank %}
    {{ block.settings.iconcode3 }}
    {% elsif block.settings.icon3 %}
      <img src="{{  block.settings.icon3 | img_url:'12x' }}">
{% endif %}
    </span> 
  </span>
  
  </div>
 <div class="vallenato-content">
   {% if block.settings.faqtext5 != blank %}
  {{ block.settings.faqtext5 }}
   {% endif %}
  </div>
    </div>
   {% endif %}
  
      {% if block.settings.faqtitle6 != blank %}
  <div class="colheader odd">
<div class="vallenato-header">
  <span class="faqdot">
  {% if block.settings.iconcode != blank %}
    {{ block.settings.iconcode }}
    {% elsif block.settings.icon %}
      <img src="{{  block.settings.icon | img_url:'12x' }}">
{% endif %}
  </span>
  
  {{ block.settings.faqtitle6 }}
 
  <span class="faqarrow"> 
    <span class="arrup"> 
    {% if block.settings.iconcode2 != blank %}
    {{ block.settings.iconcode2 }}
    {% elsif block.settings.icon2 %}
      <img src="{{  block.settings.icon2 | img_url:'12x' }}">
{% endif %}
    </span> 
    <span class="arrdown"> 
     {% if block.settings.iconcode3 != blank %}
    {{ block.settings.iconcode3 }}
    {% elsif block.settings.icon3 %}
      <img src="{{  block.settings.icon3 | img_url:'12x' }}">
{% endif %}
    </span> 
  </span>
  
  </div>
 <div class="vallenato-content">
   {% if block.settings.faqtext6 != blank %}
  {{ block.settings.faqtext6 }}
   {% endif %}
  </div>
    </div>
   {% endif %}
  
  {% if block.settings.faqtitle7 != blank %}
  <div class="colheader">
<div class="vallenato-header">
  <span class="faqdot">
  {% if block.settings.iconcode != blank %}
    {{ block.settings.iconcode }}
    {% elsif block.settings.icon %}
      <img src="{{  block.settings.icon | img_url:'12x' }}">
{% endif %}
  </span>
  
  {{ block.settings.faqtitle7 }}
 
  <span class="faqarrow"> 
    <span class="arrup"> 
    {% if block.settings.iconcode2 != blank %}
    {{ block.settings.iconcode2 }}
    {% elsif block.settings.icon2 %}
      <img src="{{  block.settings.icon2 | img_url:'12x' }}">
{% endif %}
    </span> 
    <span class="arrdown"> 
     {% if block.settings.iconcode3 != blank %}
    {{ block.settings.iconcode3 }}
    {% elsif block.settings.icon3 %}
      <img src="{{  block.settings.icon3 | img_url:'12x' }}">
{% endif %}
    </span> 
  </span>
  
  </div>
 <div class="vallenato-content">
   {% if block.settings.faqtext7 != blank %}
  {{ block.settings.faqtext7 }}
   {% endif %}
  </div>
    </div>
   {% endif %}
  
</div>
</div>
<style>
  .faqarrow
  {
    float:right;
  }
  .vallenato-header.vallenato-inactive .arrdown
  {
    display:none;
  }
  .vallenato-header.vallenato-active .arrup
  {
     display:none;
  }
  .faqdot
  {
    margin-right:15px;
    float:left;
  }
  .faqdot svg
  {
    max-width:12px;
    height:auto;
  }
  
  .colheader.odd
  {
    background:{{ block.settings.rowcolor }}
  }
.section3
  {
    padding:100px 0;
  }
  .vallenato-header
  {
    padding:10px 0;
    cursor:pointer;
    font-weight: bold; color:{{ block.settings.textcolor }};
  }
.vallenato-header,.vallenato-content
  {
	max-width:812px;
  margin:0 auto;
}

.vallenato-content
  {
display:none;padding-left: 27px;
  padding-bottom:20px;
  color:{{ block.settings.textcolor }};
}
  .faqtitle
  {
    margin-bottom:50px;
    padding:0 20px;
  }
  .section3 h2
  {
    line-height:45px;
    font-size:45px;
    color:{{ block.settings.titlecolor }};
    text-align:center;
  }
  .faqsubtitle
  {
        font-size: 17px;
    line-height: 24px;color:{{ block.settings.subtitle_color }};
    text-align:center;
  }
  
  
  #faq{{ block.id }}
  {
     padding:{{ block.settings.padding }};
    margin:{{ block.settings.margin }};
    {{ block.settings.secgradiant }}
  }
  @media(max-width:767px)
    {
      .section3
      {
    padding: 40px 0 0;
}  
 .section3 h2 
      {
    line-height: 33px;
    font-size: 28px;
    margin-bottom: 20px;    
        padding: 0 20px;
}     
.colheader
      {
        padding:0 20px;    
        padding-left: 47px;
    padding-right: 47px;
      }
 .vallenato-header {
    position: relative;
}     
 .faqdot {
    margin-right: 0;
    position: absolute;
    left: -27px;
    top: 50%;
    transform: translate(0,-50%);
 } 
.vallenato-content
{
    padding-left: 0;
    padding-bottom: 20px;
    margin-left: -27px;
    margin-right: -27px;
}     
  .vallenato-header
      {
        font-size:17px;
        font-weight:bold;
        line-height:24px;
        color:#343F4C
      }
 .faqarrow {
   position: absolute;
    right: -27px;
    transform: translate(0,-50%);
    top: 50%;
} 
       #faq{{ block.id }}
  {
      padding:{{ block.settings.padding_mob }};
    margin:{{ block.settings.margin_mob }};
    {{ block.settings.secgradiant_mob }}
  }
       .faqtitle
  {
    margin-bottom:20px;
    padding:0 20px;
  }
    }
</style>
<div class="clear"></div>