  <!-- Image with text -->
<div class="clear"></div>
            
<div id="tb-image-with-text{{block.id}}" class="tb-image-with-text"  {{ block.shopify_attributes }}>
<div class="page-width">
<div class="grid">
  
   {% capture image_layout %}
  <div class="grid__item medium-up--one-half lfttbbnner">
    {% if block.settings.image %}
  <img src="{{ block.settings.image | img_url: 'original' }}">
    {% else %}
    
      <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
    
    {% endif %}
</div>
   {% endcapture %}
  
   
        {{ image_layout }}
    
  

<div class="grid__item medium-up--one-half rghtcontnt rghtcontnt--{{ block.settings.layout }}">
  
    {%- if block.settings.title != blank -%}
          <h2>{{ block.settings.title | escape }}</h2>
        {% endif %}

  
   {% if block.settings.text != blank %}
{{ block.settings.text }}
  
  {% endif %}
<p class="withquery">
  <span>
    {% if block.settings.iconcode != blank %}
    {{ block.settings.iconcode }}
    {% elsif block.settings.icon %}
      <img src="{{  block.settings.icon | img_url:'50x' }}">
    {% endif %}
  
  </span> 
  
  
  
  <span>
      {% if block.settings.subtitle != blank %}
        {{ block.settings.subtitle }}
        {% endif %}
 

  </span>
  </p>

  
  </div>
  
  
  
</div>
<div class="clear"></div>
</div>
</div>
<style>
  .withquery
  {
    position:relative;
  }
 .tb-image-with-text  .image-wrap svg
  {
    opacity:1 !important;
  }
  .tb-image-with-text .page-width
  {
    max-width:812px;
    padding:0px;
  }
  .tb-image-with-text .page-width .grid
  {
    margin-left:-17px;
  }
  
#tb-image-with-text{{block.id}} .lfttbbnner img
  {
    box-shadow:{{   block.settings.shadow}};  
    vertical-align:middle;
    border-radius: 0px;
  }
  
   .tb-image-with-text span img
  {
    vertical-align:middle;
  }
    {% if block.settings.layout == 'left' %}
     .tb-image-with-text .page-width .grid__item:last-child
  {
     padding-left:50px;
  }
     .tb-image-with-text .page-width .grid__item:first-child
  {
     padding-left:17px;
  }
  {% endif %}
   {% if block.settings.layout == 'right' %}
    .tb-image-with-text .page-width .grid__item:last-child
  {
     padding-right:33px;padding-left:17px;
  }
   .tb-image-with-text .page-width .grid__item:first-child
  {
     padding-left:17px;
  }
  .tb-image-with-text .page-width .grid__item.lfttbbnner
  {
    float:right;
  }
  
  {% endif %}
#tb-image-with-text{{block.id}}  .rghtcontnt p
  {
    color:{{  block.settings.textcolor }};
    font-size:17px;
    line-height:24px;   
  }
#tb-image-with-text{{block.id}}  .rghtcontnt  h2
  {
    color:{{ block.settings.headingcolor }};
    font-size:45px;
    line-height:52px; margin-bottom:20px
  }
  #tb-image-with-text{{block.id}}
  {
    padding:{{ block.settings.padding }};
    margin:{{ block.settings.margin }}
  }
  #tb-image-with-text{{block.id}}
  {
    {{ block.settings.secgradiant }}
  }
  
  
  @media(max-width:767px)
    {
       #tb-image-with-text{{block.id}}
  {
    {{ block.settings.secgradiant_mob }}
  }
      #tb-image-with-text{{block.id}}
  {
    padding:{{ block.settings.padding_mob }};
    margin:{{ block.settings.margin_mob }}
  }
    #tb-image-with-text{{block.id}}   .rghtcontnt h2 {
    font-size: 28px;
    line-height: 33px;
    margin-top: 20px;
      margin-bottom:10px
}
      .tb-image-with-text .page-width .grid__item.rghtcontnt {
    padding-left: 20px;
    padding-right: 20px;
}
      .tb-image-with-text .page-width .grid
      {
            margin-left: 0;
      }
      .tb-image-with-text .page-width .grid__item {
    padding-left: 0;
}
      .tb-image-with-text {
    padding-bottom: 10px;
}
       {% if block.settings.layout == 'right' %}
   
   .tb-image-with-text .page-width .grid__item:first-child
  {
     padding-left:0px;  padding-left:0px;
  }
      {% endif %}
         {% if block.settings.layout == 'left' %}
     
     .tb-image-with-text .page-width .grid__item:first-child
  {
     padding-left:0px;
  }
       {% endif %}
      
    }
  
</style>           
<div class="clear"></div>
            <!-- Image with text -->