{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif
-%}

<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">

  
  
  <div class="page-width">

    <div class="grid">
      {%- assign row_width = 0 -%}
      {%- for block in section.blocks -%}
        {%- assign row_width = row_width | plus: block.settings.container_width -%}
        {%- style -%}
        @media only screen and (min-width: 769px) {
          .footer__item--{{ block.id }} {
            width: {{ block.settings.container_width }}%;
          }
        }
        {%- endstyle -%}

        {%- if row_width > 100 -%}
          <div class="footer__clear small--hide"></div>
          {%- assign row_width = row_width | minus: 100 -%}
        {%- endif -%}

        {%- case block.type -%}
        {%- when 'logo_social' -%}
          <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }}">
            {%- render 'footer-logo-social', block: block, first_instance: true -%}
          </div>
        {%- when 'custom' -%}
          <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }}">
            {%- render 'footer-custom-text', block: block -%}
          </div>
        {%- when 'newsletter' -%}
          <div {{ block.shopify_attributes }} class="grid__item grid-newsletter footer__item--{{ block.id }}">
            {%- render 'footer-newsletter', block: block -%}
          </div>
        {%- when 'menu' -%}
          <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }}">
            {%- render 'footer-menu', block: block -%}
          </div>
        {%- endcase -%}
      {%- endfor -%}
     
    </div>

  </div>
</footer>

<div class="site-footer__bottom">
      
      
      <div class="page-width">
        <div class="footer__copyright">
       <span>   {%- if section.settings.show_copyright -%}
        
          {%- if section.settings.copyright_text != blank -%}
            {{ section.settings.copyright_text }}
          {%- endif -%}
          </span>
          
         {%- for link in linklists[section.settings.policies].links -%}
           <a href="{{ link.url }}" class="menulist">{{ link.title }}</a>
          {%- endfor -%} 
          
          
      {%- endif -%}
        
        </div>
        <div class="payicons"> 
            {%- if show_selectors -%}
        {%- form 'localization', class: 'multi-selectors site-footer__bottom-block' -%}
          {%- if locale_selector -%}
            <div class="multi-selectors__item">
              <h2 class="visually-hidden" id="LangHeading">
                {{ 'general.language.dropdown_label' | t }}
              </h2>

              <div class="disclosure" data-disclosure-locale>
                <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="LangList" aria-describedby="LangHeading" data-disclosure-toggle>
                  {{ form.current_locale.endonym_name }}
                </button>
                <ul id="LangList" class="disclosure-list" data-disclosure-list>
                  {%- for locale in form.available_locales -%}
                    <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                      <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                        {{ locale.endonym_name }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
                <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
              </div>
            </div>
          {%- endif -%}

          {%- if currency_selector -%}
            <div class="multi-selectors__item">
              <h2 class="visually-hidden" id="CurrencyHeading">
                {{ 'general.currency.dropdown_label' | t }}
              </h2>

              <div class="disclosure" data-disclosure-currency>
                <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="CurrencyList" aria-describedby="CurrencyHeading" data-disclosure-toggle>
                  {%- if section.settings.show_currency_flags -%}
                    <span class="currency-flag currency-flag--small" data-flag="{{ form.current_currency.iso_code }}" aria-hidden="true"></span>
                  {%- endif -%}
                  <span class="currency-options__label currency-options__label--inline">
                    {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                  </span>
                </button>
                <ul id="CurrencyList" class="disclosure-list" data-disclosure-list>
                  {%- for currency in form.available_currencies -%}
                    <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                      <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                        {%- if section.settings.show_currency_flags -%}
                          <span class="currency-flag currency-flag--small" data-flag="{{ currency.iso_code }}" aria-hidden="true"></span>
                        {%- endif -%}
                        <span class="currency-options__label currency-options__label--inline">
                          {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                        </span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
                <input type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}" data-disclosure-input>
              </div>
            </div>
          {%- endif -%}
        {%- endform -%}
      {%- endif -%}
          
          
          {%- if section.settings.show_payment_icons -%}
          
          
          {% if section.settings.payment_icons != blank %}
          {{ section.settings.payment_icons }}
          {% else %}
           <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="31.829" height="22" viewBox="0 0 31.829 22">
  <path id="visa-alt" d="M26.949,154.4H4.879A4.894,4.894,0,0,0,0,159.279v12.241A4.894,4.894,0,0,0,4.879,176.4h22.07a4.894,4.894,0,0,0,4.879-4.879V159.279A4.894,4.894,0,0,0,26.949,154.4ZM6.97,162.583c.723,0,1.448-.006,2.171.006a.822.822,0,0,1,.828.713c.153.735.3,1.47.43,2.215a5.783,5.783,0,0,0-3.5-2.906A.224.224,0,0,1,6.97,162.583Zm4.2,5.6q-.683,0-1.365,0c-.092,0-.156-.016-.181-.124-.376-1.442-.758-2.884-1.136-4.326a.239.239,0,0,1,0-.048c.255.032.764.452,1.334,1.171a3.8,3.8,0,0,1,.824,1.6l.054-.162q.611-1.79,1.219-3.581a.194.194,0,0,1,.22-.15c.414.006.831,0,1.245,0,.054,0,.108.006.185.01-.067.175-.124.331-.185.487q-1.007,2.492-2.012,4.988a.184.184,0,0,1-.2.134Zm4.386-4.9-.7,4.351c-.019.127-.057.251-.067.382s-.067.178-.2.175c-.382-.006-.764,0-1.146,0-.054,0-.108-.006-.185-.01.06-.372.115-.726.172-1.079l.493-3.157.2-1.245c.013-.086.041-.13.137-.13.439,0,.875,0,1.315,0a.66.66,0,0,1,.089.019C15.622,162.816,15.59,163.048,15.551,163.277Zm1.455,5.067a4.024,4.024,0,0,1-1.2-.242c-.086-.032-.153-.064-.127-.178.08-.353.153-.71.229-1.069.245.073.477.156.713.213a2.392,2.392,0,0,0,1.346-.01.442.442,0,0,0,.178-.78,3.011,3.011,0,0,0-.576-.369,2.9,2.9,0,0,1-1.025-.742,1.679,1.679,0,0,1-.045-1.8,1.91,1.91,0,0,1,1.108-.77,3.748,3.748,0,0,1,2.266.076c.124.041.169.089.137.226-.07.3-.118.6-.175.891-.01.054-.029.105-.045.172-.175-.08-.321-.146-.468-.21a1.69,1.69,0,0,0-1.152-.051.486.486,0,0,0-.385.382.4.4,0,0,0,.239.442c.283.169.582.312.863.49a2.9,2.9,0,0,1,.63.493,1.353,1.353,0,0,1-.086,1.852,2.957,2.957,0,0,1-2.429.977Zm6.955-.162c-.439-.01-.356.1-.458-.379-.029-.131-.051-.264-.083-.417-.6,0-1.187,0-1.776,0-.035,0-.089.057-.105.1-.08.185-.14.379-.223.563-.025.054-.1.124-.146.124-.439.01-.875,0-1.315,0a.215.215,0,0,1-.064-.022c.051-.124.1-.245.153-.366q.7-1.614,1.4-3.221c.271-.621.544-1.244.808-1.865a.189.189,0,0,1,.2-.14q.649.01,1.3,0c.115,0,.15.038.172.146.248,1.232.506,2.46.761,3.692.108.522.22,1.044.325,1.566.013.064.016.13.025.22-.337-.01-.656,0-.974-.01Zm-1.206-3.889c-.251.659-.5,1.321-.761,1.992h1.2c-.134-.672-.267-1.33-.4-1.986a.252.252,0,0,1-.045-.006Z" transform="translate(0 -154.4)" fill="#515862"/>
</svg>

          
          </span>
            <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="31.829" height="22" viewBox="0 0 31.829 22">
  <path id="mastercard-alt" d="M26.949,154.4H4.879A4.892,4.892,0,0,0,0,159.276v12.245A4.894,4.894,0,0,0,4.879,176.4h22.07a4.894,4.894,0,0,0,4.879-4.879V159.276A4.892,4.892,0,0,0,26.949,154.4Zm-3.909,14.145a5.023,5.023,0,0,1-6.827.43,5.475,5.475,0,0,0,1.429-2.333c-.127,0-.245-.006-.36,0a.121.121,0,0,0-.076.076,4.978,4.978,0,0,1-.853,1.521c-.137.166-.29.321-.439.487a3.89,3.89,0,0,1-.742-.888c-.2-.35-.369-.719-.541-1.082-.038-.083-.07-.13-.169-.121a2.731,2.731,0,0,1-.283,0,5.451,5.451,0,0,0,1.413,2.33,5.028,5.028,0,1,1,0-7.8,5.446,5.446,0,0,0-1.416,2.33c.13,0,.248.006.363,0,.029,0,.067-.054.08-.092a5,5,0,0,1,.958-1.646c.1-.115.21-.223.321-.341a4.074,4.074,0,0,1,.805.984c.181.321.328.662.484,1,.032.07.06.108.143.1s.191,0,.306,0a5.408,5.408,0,0,0-1.426-2.33,5.034,5.034,0,0,1,6.827,7.372ZM9.918,164a.161.161,0,0,0-.175.118c-.162.369-.331.738-.5,1.1-.013.025-.029.051-.057.1-.035-.462-.067-.888-.1-1.315H8.266c-.143.748-.286,1.49-.433,2.234h.512c.1-.509.194-1.012.293-1.515a.04.04,0,0,1,.019,0c.045.506.086,1.009.13,1.521.14,0,.264,0,.388,0a.125.125,0,0,0,.14-.089c.172-.395.347-.783.522-1.174.025-.057.054-.115.083-.172-.022.245-.067.481-.111.719s-.086.471-.134.713h.532c.14-.748.28-1.49.42-2.244L9.918,164Zm2.257,1.1c.029-.407-.115-.656-.462-.694a5.5,5.5,0,0,0-.885.022c-.029,0-.067.048-.076.083-.025.105-.041.213-.06.325.248-.013.481-.029.713-.038a.256.256,0,0,1,.166.035.241.241,0,0,1,.064.159c0,.013-.073.048-.115.051-.092.01-.185,0-.277.006a.782.782,0,0,0-.786.608.464.464,0,0,0,.4.592,3.66,3.66,0,0,0,.573-.038c.14.118.334.013.519.048.073-.369.143-.719.213-1.069A.462.462,0,0,0,12.174,165.1Zm-1.022.751c-.172-.01-.236-.14-.14-.286a.453.453,0,0,1,.532-.14c-.006.35-.2.439-.391.427Zm1.9-.758c-.083-.041-.178-.086-.153-.2s.137-.1.226-.1c.124,0,.248,0,.385,0,.032-.1.067-.223.105-.35a1.367,1.367,0,0,0-.828-.032.545.545,0,0,0-.468.646.348.348,0,0,0,.2.309c.124.06.245.124.366.188.076.038.134.1.108.188s-.1.108-.178.105l-.637-.019c-.019.108-.041.226-.067.363a2.189,2.189,0,0,0,.929.032.7.7,0,0,0,.28-.124.527.527,0,0,0-.035-.872A2.393,2.393,0,0,0,13.053,165.094Zm1.579-.538c.01-.045.016-.089.025-.143-.086,0-.169-.01-.261-.013.032-.162.06-.315.1-.484h-.207c-.3,0-.3,0-.36.293-.105.509-.2,1.022-.3,1.531a.4.4,0,0,0,.293.5,1.546,1.546,0,0,0,.417-.032.13.13,0,0,0,.083-.089,2.681,2.681,0,0,0,.029-.321c-.06,0-.1,0-.143,0-.089-.013-.156-.061-.14-.156.045-.274.1-.544.146-.812C14.574,164.8,14.574,164.8,14.632,164.557Zm.748,1.264a.279.279,0,0,1-.28-.4h1.117c0-.172.006-.331,0-.487a.5.5,0,0,0-.3-.468.972.972,0,0,0-.945.06,1.115,1.115,0,0,0-.42,1.06.725.725,0,0,0,.535.63,1.785,1.785,0,0,0,.878-.016.145.145,0,0,0,.083-.073c.029-.105.048-.216.073-.331a.53.53,0,0,1-.06,0c-.226.006-.452.025-.675.022Zm.181-1.073c.14.022.194.118.169.337h-.614A.377.377,0,0,1,15.561,164.748Zm1.445-.166c.025-.213-.115-.172-.229-.175a.689.689,0,0,0-.162,0,.144.144,0,0,0-.1.08c-.111.579-.22,1.162-.331,1.763H16.4c.3,0,.3,0,.356-.3a.4.4,0,0,1,.01-.06c.06-.242.105-.487.181-.726a.377.377,0,0,1,.363-.277.091.091,0,0,0,.07-.051c.041-.14.076-.28.115-.43A.645.645,0,0,0,17.006,164.582Zm1.922-.086a.121.121,0,0,0,.1-.01c.105-.086.2-.181.3-.271a.524.524,0,0,0-.041-.06.977.977,0,0,0-1.178-.134,1.365,1.365,0,0,0-.691,1.356.85.85,0,0,0,.487.777,1.249,1.249,0,0,0,1.034-.016c-.054-.162-.1-.306-.15-.458l-.137.032a.514.514,0,0,1-.643-.293.745.745,0,0,1,.181-.786A.634.634,0,0,1,18.929,164.5Zm1.276-.1a4.772,4.772,0,0,0-.8.035.1.1,0,0,0-.07.057c-.025.115-.045.232-.067.36l.115-.013c.22-.013.442-.035.662-.035.15,0,.2.089.143.248-.118,0-.239-.006-.36,0a.786.786,0,0,0-.793.589.467.467,0,0,0,.414.614,3.009,3.009,0,0,0,.551-.045c.143.115.337.013.528.06.076-.417.175-.815.216-1.216A.523.523,0,0,0,20.2,164.394Zm-.474,1.455a.227.227,0,0,1-.162-.086.246.246,0,0,1,.025-.194.42.42,0,0,1,.528-.134C20.113,165.779,19.928,165.865,19.731,165.849Zm2.311-1.451a.625.625,0,0,0-.468.14c-.035-.051-.064-.134-.1-.14a3.473,3.473,0,0,0-.407-.006l-.347,1.862c.166,0,.306,0,.446,0a.128.128,0,0,0,.086-.076c.025-.1.035-.2.057-.306.054-.239.1-.481.178-.713a.389.389,0,0,1,.36-.286.1.1,0,0,0,.07-.048c.051-.137.086-.277.127-.423Zm-.127.929a.927.927,0,0,0,.121.64.519.519,0,0,0,.684.242c.067-.022.13-.054.181-.076.048.045.089.115.134.118.166.013.331.006.5.006l.439-2.359h-.538c-.045.226-.089.449-.134.681-.092-.064-.166-.15-.255-.169a.819.819,0,0,0-.847.229A1.425,1.425,0,0,0,21.914,165.327Zm.818-.452a.248.248,0,0,1,.414.194c0,.032.006.067.006.073a.647.647,0,0,1-.21.516.28.28,0,0,1-.481-.153A.657.657,0,0,1,22.732,164.875Z" transform="translate(0 -154.4)" fill="#515862"/>
</svg>


          </span>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="31.829" height="22" viewBox="0 0 31.829 22">
  <path id="american-express-alt" d="M26.949,154.4H4.879A4.892,4.892,0,0,0,0,159.276v12.245A4.894,4.894,0,0,0,4.879,176.4h22.07a4.894,4.894,0,0,0,4.879-4.879V159.276A4.892,4.892,0,0,0,26.949,154.4Zm-14.867,7.849a.841.841,0,0,1,.089-.006c.493,0,.987,0,1.48,0a.579.579,0,0,1,.576.42.661.661,0,0,1-.286.78l-.067.029a.484.484,0,0,1,.347.455c0,.172.025.344.038.519,0,.035,0,.07,0,.111h-.576c-.01-.083-.019-.169-.025-.255-.01-.1-.01-.2-.022-.306a.277.277,0,0,0-.245-.226c-.236,0-.471,0-.719,0v.789h-.6c.006-.767.006-1.534.006-2.311Zm-7.515-.006c.242,0,.484,0,.729,0a.1.1,0,0,1,.073.054c.188.417.376.837.56,1.257.124.277.245.557.382.834v-2.148h.6c.325,0,.321,0,.452.3.14.321.29.64.436.958l.115.261c.232-.519.452-1.015.675-1.518h.945v2.311H8.944v-1.6l-.019-.006c-.13.283-.264.567-.395.853l-.331.716a.107.107,0,0,1-.08.045c-.105.006-.207,0-.312,0-.175,0-.169,0-.239-.159-.207-.465-.417-.926-.627-1.391a.411.411,0,0,0-.041-.06v1.611H6.3c-.162,0-.321,0-.484,0-.073,0-.1-.029-.124-.089-.048-.124-.1-.248-.156-.369a.121.121,0,0,0-.092-.057c-.328,0-.659,0-.99,0a.121.121,0,0,0-.092.057c-.073.15-.134.3-.2.452H3.53c.347-.78.691-1.544,1.038-2.317Zm5.191,5.108a.547.547,0,0,1-.519.388c-.331.016-.662,0-1.009,0v.818H7.862c-.2,0-.4-.01-.6,0a.31.31,0,0,1-.274-.146c-.172-.2-.35-.407-.528-.621-.083.089-.162.165-.236.251-.127.146-.251.3-.382.442a.146.146,0,0,1-.1.048c-.7,0-1.4,0-2.094,0a.257.257,0,0,1-.029-.006v-2.311h.118c.656,0,1.311.006,1.967-.006a.373.373,0,0,1,.312.166c.153.175.306.353.465.538.2-.216.391-.42.579-.627a.211.211,0,0,1,.169-.07c.659,0,1.318,0,1.977,0a.6.6,0,0,1,.627.582A1.32,1.32,0,0,1,9.759,167.351Zm.13-5.1h1.878v.509H10.491v.407h1.235v.474H10.494v.43H11.77v.487H9.889Zm2.327,5.541a1.36,1.36,0,0,1,.032.251c0,.169,0,.337,0,.516h-.56c-.006-.105-.013-.213-.022-.321-.006-.089-.01-.175-.022-.264a.277.277,0,0,0-.245-.226c-.236,0-.471,0-.723,0v.812h-.592v-2.33a.774.774,0,0,1,.089-.006c.493,0,.987-.006,1.48,0a.568.568,0,0,1,.579.43.715.715,0,0,1-.271.786.221.221,0,0,0-.045.048.389.389,0,0,1,.3.3Zm2.2-1.06h-1.3v.411h1.254v.452H13.117v.452h1.3v.49H12.54v-2.308h1.878C14.415,166.393,14.415,166.555,14.415,166.73Zm.115-4.482h.589v2.308H14.53Zm1.992,5.952a.612.612,0,0,1-.5.334c-.446.022-.891.019-1.337.025a.1.1,0,0,1-.029-.01v-.5h.169c.255,0,.509,0,.764,0a1.038,1.038,0,0,0,.22-.029.226.226,0,0,0,.178-.207c-.01-.1-.105-.162-.232-.172a5.159,5.159,0,0,1-.672-.067.54.54,0,0,1-.468-.582.827.827,0,0,1,.076-.452.547.547,0,0,1,.474-.306c.436-.016.872,0,1.308,0,.006,0,.013.006.022.01v.5H15.418c-.15,0-.239.1-.2.229s.146.124.242.134c.156.016.312.006.468.025a1.7,1.7,0,0,1,.376.092.452.452,0,0,1,.277.36.836.836,0,0,1-.057.617Zm2.107.038a.6.6,0,0,1-.5.3c-.436.01-.869,0-1.315,0v-.493h.111c.321-.006.64-.013.961-.022a.229.229,0,0,0,.2-.118c.076-.131-.025-.258-.2-.271a5.978,5.978,0,0,1-.675-.067.566.566,0,0,1-.477-.6.79.79,0,0,1,.127-.512.552.552,0,0,1,.436-.239c.436-.013.872,0,1.324,0v.516H17.544a.181.181,0,0,0-.2.156.155.155,0,0,0,.108.175.5.5,0,0,0,.153.032c.2.016.4.016.592.048a.531.531,0,0,1,.525.506.831.831,0,0,1-.092.589Zm2.919-3.654h-.4a.991.991,0,0,0-.194,0c-.156.029-.232-.048-.306-.175-.286-.487-.582-.968-.894-1.477v1.649H19.6c-.306,0-.608,0-.913,0a.113.113,0,0,1-.121-.076c-.057-.127-.115-.258-.175-.382a.118.118,0,0,0-.083-.057c-.353,0-.71,0-1.066,0-.057.146-.118.286-.172.43a.118.118,0,0,1-.13.089c-.2-.01-.4,0-.6,0a.872.872,0,0,1-.929-.748,1.723,1.723,0,0,1,.067-1.06.791.791,0,0,1,.761-.535c.239.01.481,0,.729,0v.516h-.436a.571.571,0,0,0-.493.242.828.828,0,0,0,.076.891.59.59,0,0,0,.506.131c.019,0,.045-.041.054-.067.127-.286.251-.57.376-.856l.341-.793a.545.545,0,0,0,.022-.067c.242,0,.484,0,.726,0a.11.11,0,0,1,.076.061c.166.36.328.723.49,1.082.14.312.277.627.433.939v-2.085c.2,0,.388.016.576,0a.415.415,0,0,1,.468.264c.229.433.5.847.761,1.289v-1.54h.6c0,.773,0,1.544,0,2.333Zm-4.09-1.038h.726c-.127-.277-.251-.544-.388-.84C17.674,163.006,17.569,163.274,17.458,163.548ZM5.411,166.715c-.29,0-.579,0-.869,0H4.176v.455H5.43v.407H4.176v.493c.427,0,.847,0,1.264,0a.166.166,0,0,0,.105-.057c.191-.216.382-.439.576-.662-.2-.2-.391-.395-.592-.589a.182.182,0,0,0-.118-.041Zm1.458.576c-.041.045-.038.07,0,.115l.56.662c.073.086.153.169.242.271v-1.926c-.045.041-.073.06-.1.086l-.707.792Zm2.209-.554c-.286-.01-.573,0-.863,0v.538c.286,0,.563.006.84,0,.115,0,.21-.146.207-.271S9.2,166.74,9.078,166.737Zm-4.131-4.029c-.13.3-.242.563-.363.84h.726C5.188,163.271,5.07,163,4.946,162.707Zm6.522,4.01c-.267-.01-.535,0-.805,0v.538c.261,0,.516.006.767,0a.237.237,0,0,0,.258-.255.252.252,0,0,0-.22-.277Zm2.222-3.727a.275.275,0,0,0-.293-.255c-.086.006-.172,0-.258,0h-.481v.538c.261,0,.512.006.761,0A.245.245,0,0,0,13.69,162.991Z" transform="translate(0 -154.4)" fill="#515862"/>
</svg>


          </span>
          
            <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="31.829" height="22" viewBox="0 0 31.829 22">
  <path id="discover-alt" d="M26.949,154.4H4.879A4.892,4.892,0,0,0,0,159.276v12.245A4.894,4.894,0,0,0,4.879,176.4h22.07a4.894,4.894,0,0,0,4.879-4.879V159.276A4.892,4.892,0,0,0,26.949,154.4Zm-1.515,8.135h1.152a1.561,1.561,0,0,1,1.034.309,1.076,1.076,0,0,1,.369.869,1.033,1.033,0,0,1-.9,1.117l1.248,1.665h-.952l-1.069-1.582H26.2v1.582h-.773v-3.959Zm-2.7,0h2.187v.678H23.512v.878h1.365v.665H23.512v1.069h1.413v.665H22.738Zm-3.317,0,1.057,2.661,1.069-2.661h.843L20.679,166.6h-.417l-1.687-4.064Zm-4.185.532a2.152,2.152,0,1,1-.63,1.521A2.071,2.071,0,0,1,15.236,163.067Zm-3.329-.016a2.045,2.045,0,0,1,1.493-.6,2.106,2.106,0,0,1,.952.239v.913a1.347,1.347,0,0,0-.961-.452,1.212,1.212,0,0,0-.92.4,1.367,1.367,0,0,0-.376.968,1.347,1.347,0,0,0,.376.98,1.273,1.273,0,0,0,.958.385,1.305,1.305,0,0,0,.926-.439v.913a2.185,2.185,0,0,1-.961.226,2.031,2.031,0,0,1-1.486-.6,1.984,1.984,0,0,1-.6-1.467,1.949,1.949,0,0,1,.6-1.461Zm-1.884,1.872a2.605,2.605,0,0,0-.535-.226,1.823,1.823,0,0,1-.761-.433.96.96,0,0,1-.213-.659,1.038,1.038,0,0,1,.356-.8,1.263,1.263,0,0,1,.878-.328,1.68,1.68,0,0,1,1.165.439l-.4.522a.84.84,0,0,0-.63-.321.656.656,0,0,0-.411.124.378.378,0,0,0-.159.315.347.347,0,0,0,.124.274,1.581,1.581,0,0,0,.468.226,2.353,2.353,0,0,1,.9.5,1.041,1.041,0,0,1,.245.735,1.254,1.254,0,0,1-.379.945,1.372,1.372,0,0,1-.987.363,1.589,1.589,0,0,1-1.365-.761l.5-.474a.892.892,0,0,0,.843.522.589.589,0,0,0,.427-.159.529.529,0,0,0,.166-.4.457.457,0,0,0-.226-.4ZM6.172,166.04a2.11,2.11,0,0,1-1.413.452H3.628v-3.956h1.13a2.162,2.162,0,0,1,1.534.554,1.875,1.875,0,0,1,.6,1.432A1.918,1.918,0,0,1,6.172,166.04Zm1.069-3.5h.773v3.956H7.241Zm23.493,8a4.894,4.894,0,0,1-4.879,4.879H7.629c19.988-.789,23.1-9.24,23.1-9.24v4.361ZM4.606,163.213h-.2v2.613h.2a1.541,1.541,0,0,0,1.057-.309,1.291,1.291,0,0,0,.427-1,1.243,1.243,0,0,0-.427-.987A1.488,1.488,0,0,0,4.606,163.213Zm22.589.535c0-.388-.248-.583-.748-.583h-.239v1.2h.226C26.94,164.366,27.194,164.159,27.194,163.748Z" transform="translate(0 -154.4)" fill="#515862"/>
</svg>

          </span>
          
            <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="31.829" height="22" viewBox="0 0 31.829 22">
  <path id="jcb-alt" d="M26.949,154.4H4.879A4.892,4.892,0,0,0,0,159.276v12.245A4.894,4.894,0,0,0,4.879,176.4h22.07a4.894,4.894,0,0,0,4.879-4.879V159.276A4.892,4.892,0,0,0,26.949,154.4Zm-13.9,14.7a1.863,1.863,0,0,1-1.69,1.884,2.434,2.434,0,0,1-.341.006h-1.1c-.477,0-.955,0-1.429,0-.032,0-.045-.006-.041-.041v-3.819c0-.064.013-.073.073-.057a8.039,8.039,0,0,0,2.1.21c.134,0,.267-.019.4-.029.172-.032.344-.054.512-.1a2.148,2.148,0,0,0,.5-.207,1.22,1.22,0,0,0,.627-1.066c.016-.462.006-.923.006-1.385v-.84c0-.045-.006-.061-.057-.061-.516,0-1.031,0-1.55,0v2.145a.99.99,0,0,1-.054.347.814.814,0,0,1-.407.471,1.332,1.332,0,0,1-.751.115,3.877,3.877,0,0,1-1.356-.385.073.073,0,0,1-.048-.08c0-1.521-.006-3.043,0-4.561a1.8,1.8,0,0,1,1.015-1.652,1.619,1.619,0,0,1,.738-.2.357.357,0,0,1,.13-.01h2.645c.057,0,.067.016.067.07Q13.053,164.49,13.053,169.1Zm5.163-.01a1.864,1.864,0,0,1-1.455,1.859,1.291,1.291,0,0,1-.312.041c-.363,0-.726,0-1.089,0-.493,0-.99,0-1.483,0-.073,0-.143,0-.216,0-.038,0-.051-.013-.048-.048V166.7a3.26,3.26,0,0,0,1.891.6c.178,0,.36,0,.538,0a7.571,7.571,0,0,0,1.6-.216c.022-.006.051,0,.051-.045,0-.248,0-.5,0-.748a.346.346,0,0,0-.127.051,3.428,3.428,0,0,1-1.626.353.881.881,0,0,1-.181-.022,1.164,1.164,0,0,1-1.076-1.025,1.517,1.517,0,0,1,.057-.726,1.143,1.143,0,0,1,.869-.761.749.749,0,0,1,.083-.013.048.048,0,0,1,.041-.01h.025a1.759,1.759,0,0,1,.484-.022,3.508,3.508,0,0,1,1.315.35c.045.019.076.061.137.057v-.748c0-.029-.013-.038-.038-.045a8.642,8.642,0,0,0-.945-.169,7.141,7.141,0,0,0-1.251-.041,4.238,4.238,0,0,0-1.194.226,2.168,2.168,0,0,0-.617.341c-.01.006-.019.016-.038.029v-.073c0-.773,0-1.55,0-2.323a1.836,1.836,0,0,1,1.025-1.709,1.593,1.593,0,0,1,.735-.194.543.543,0,0,1,.143-.01c.878,0,1.754,0,2.632,0,.06,0,.07.019.07.073q0,4.612,0,9.224Zm5.163.006a1.846,1.846,0,0,1-.462,1.257,1.8,1.8,0,0,1-1.381.64c-.9.006-1.8,0-2.7,0-.057,0-.067-.016-.067-.07,0-1.222,0-2.448,0-3.67,0-.061.019-.07.073-.07.974,0,1.948.006,2.922,0a1.145,1.145,0,0,0,.875-.366.817.817,0,0,0-.124-1.216,1.364,1.364,0,0,0-.675-.242.156.156,0,0,1-.038,0s-.006,0-.022-.016c.07-.016.13-.029.191-.048a.866.866,0,0,0,.633-.589.792.792,0,0,0-.439-.961,1.673,1.673,0,0,0-.745-.143H18.855c-.067,0-.083-.016-.083-.083l0-1.846a1.861,1.861,0,0,1,1.413-1.824,1.99,1.99,0,0,1,.493-.057h2.626c.057,0,.073.013.073.073Q23.377,164.49,23.378,169.1Zm-3.632-3.476c.178,0,.353,0,.532,0s.35,0,.525,0a.491.491,0,0,1,.118.961.569.569,0,0,1-.162.022H19.747c-.045,0-.064-.006-.064-.057,0-.29,0-.582,0-.872,0-.048.022-.054.064-.054Zm-.057-.6c0-.267,0-.538,0-.805,0-.032,0-.051.045-.051.337.006.675-.01,1.009.01a.45.45,0,0,1,.013.894c-.181.019-.363,0-.509.01h-.5C19.705,165.075,19.686,165.066,19.689,165.021Z" transform="translate(0 -154.4)" fill="#515862"/>
</svg>

          </span>
          
            <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="31.829" height="22" viewBox="0 0 31.829 22">
  <path id="diners-club-alt-1" d="M26.949,154.4H4.879A4.892,4.892,0,0,0,0,159.276v12.245A4.894,4.894,0,0,0,4.879,176.4h22.07a4.894,4.894,0,0,0,4.879-4.879V159.276A4.892,4.892,0,0,0,26.949,154.4ZM21.1,169.894a6.15,6.15,0,0,1-2.979,1.318,5.771,5.771,0,0,1-.878.073c-.939,0-1.878.01-2.817,0A5.828,5.828,0,0,1,9.6,168.831a5.589,5.589,0,0,1-1.089-3.918,5.87,5.87,0,0,1,.843-2.645,5.642,5.642,0,0,1,3.046-2.425,6.237,6.237,0,0,1,2.034-.334c.458,0,.917,0,1.48,0,.5.01,1.1-.022,1.7.016a6.268,6.268,0,0,1,3.377,1.232,5.772,5.772,0,0,1,1.891,2.365,5.648,5.648,0,0,1-1.773,6.773Zm-6.684-9.889a5.384,5.384,0,1,0,5.4,5.369A5.385,5.385,0,0,0,14.418,160.005Zm-1.206,5.389v3.062c0,.124,0,.127-.111.076a3.811,3.811,0,0,1-.863-.541,3.355,3.355,0,0,1-1.152-1.929A3.428,3.428,0,0,1,12.47,162.6a4.461,4.461,0,0,1,.637-.356c.073-.035.108-.038.108.067Q13.21,163.853,13.212,165.394Zm4.22,1.626a3.391,3.391,0,0,1-1.668,1.515c-.089.038-.111.029-.111-.07q0-1.537,0-3.075v-3.062c0-.131,0-.131.118-.08A3.408,3.408,0,0,1,17.433,167.02Z" transform="translate(0 -154.4)" fill="#515862"/>
</svg>

          </span>
          
            <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="31.829" height="22" viewBox="0 0 31.829 22">
  <path id="apple-pay-alt" d="M26.949,154.4H4.879A4.892,4.892,0,0,0,0,159.276v12.245A4.894,4.894,0,0,0,4.879,176.4h22.07a4.894,4.894,0,0,0,4.879-4.879V159.276A4.892,4.892,0,0,0,26.949,154.4Zm-16.494,6.484c.127.742-.624,1.757-1.41,1.639A1.539,1.539,0,0,1,10.456,160.883Zm.961,6.4a2.5,2.5,0,0,1-.6.656.912.912,0,0,1-.942.035,1.651,1.651,0,0,0-1.423,0,.915.915,0,0,1-1.238-.306,4.336,4.336,0,0,1-1.124-3.062,2.036,2.036,0,0,1,.681-1.537,1.581,1.581,0,0,1,1.7-.309c.681.258.525.248,1.2,0a1.792,1.792,0,0,1,1.716.172,3.808,3.808,0,0,1,.42.382,1.558,1.558,0,0,0-.8,1.493,1.621,1.621,0,0,0,.961,1.378,3.969,3.969,0,0,1-.551,1.1Zm6.044-3.867a1.954,1.954,0,0,1-1.744,1.741,4.03,4.03,0,0,1-1.34,0v2.635h-.713c0-.045-.006-.092-.006-.14q0-3.051,0-6.1c0-.108.032-.156.14-.162.532-.032,1.06-.092,1.591-.092a2.293,2.293,0,0,1,1.426.43A1.76,1.76,0,0,1,17.461,163.417Zm3.119,4.373c-.025-.191-.051-.382-.076-.56-.137.124-.261.251-.4.36a1.718,1.718,0,0,1-1.872.07,1.354,1.354,0,0,1-.465-1.55,1.614,1.614,0,0,1,1.114-1.015,4.167,4.167,0,0,1,1.413-.2c.127,0,.172-.038.153-.162a3.773,3.773,0,0,0-.045-.376.921.921,0,0,0-1.028-.726,2.276,2.276,0,0,0-1.181.309c-.051-.146-.105-.277-.143-.417-.01-.032.032-.1.067-.118a2.522,2.522,0,0,1,1.267-.334,2,2,0,0,1,1,.188,1.43,1.43,0,0,1,.738,1.162,5.493,5.493,0,0,1,.035.646l.025,2.314c0,.134.022.267.035.407C21,167.79,20.8,167.79,20.58,167.79Zm4.774-3.616c-.382,1-.758,2-1.149,2.989a8.066,8.066,0,0,1-.863,1.741,2.491,2.491,0,0,1-1.292.993c-.022.006-.041.01-.08.019-.067-.2-.13-.392-.194-.586.181-.105.366-.2.528-.312a2.55,2.55,0,0,0,.948-1.235.489.489,0,0,0-.022-.321q-.816-2.12-1.642-4.233c-.006-.016-.013-.035-.025-.073h.541c.242,0,.245,0,.328.226.35.955.7,1.91,1.05,2.868.08.22.137.446.21.694a.527.527,0,0,0,.051-.08q.592-1.786,1.178-3.568c.035-.108.083-.15.2-.143.2.01.395,0,.621,0-.134.356-.258.688-.385,1.018Zm-9.367-2.183a2.486,2.486,0,0,0-.917-.15c-.2.019-.395.045-.592.06-.083.006-.105.045-.105.121,0,.815,0,1.633,0,2.448a.1.1,0,0,0,.1.115,3.157,3.157,0,0,0,1.009.025,1.363,1.363,0,0,0,1.276-1.321A1.241,1.241,0,0,0,15.988,161.991Zm4,3.409a2.3,2.3,0,0,0-1.146.306.932.932,0,0,0-.086,1.493.864.864,0,0,0,.592.14,1.154,1.154,0,0,0,1.095-.977c.022-.312,0-.63,0-.961C20.281,165.4,20.135,165.39,19.988,165.4Z" transform="translate(0 -154.4)" fill="#515862"/>
</svg>

          </span>
          <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="31.829" height="22" viewBox="0 0 31.829 22">
  <path id="paypal-alt" d="M26.949,154.4H4.879A4.892,4.892,0,0,0,0,159.276v12.245A4.894,4.894,0,0,0,4.879,176.4h22.07a4.894,4.894,0,0,0,4.879-4.879V159.276A4.892,4.892,0,0,0,26.949,154.4ZM8.568,165.04a2.941,2.941,0,0,1-1.089.315,6.233,6.233,0,0,1-.691.029.338.338,0,0,0-.356.293c-.07.309-.143.614-.213.92a.333.333,0,0,1-.315.251c-.216,0-.433,0-.646,0a.192.192,0,0,1-.2-.251l.525-2.288.385-1.671a.338.338,0,0,1,.341-.274h.9c.226,0,.509-.01.793.013a2.238,2.238,0,0,1,.885.207,1,1,0,0,1,.56.828,1.615,1.615,0,0,1-.118.84A1.677,1.677,0,0,1,8.568,165.04Zm4.115.1c-.108.487-.223.971-.337,1.458a.336.336,0,0,1-.325.264c-.172,0-.344,0-.516,0-.188,0-.267-.1-.223-.286,0-.019.006-.041.013-.076-.089.057-.162.108-.239.156a1.7,1.7,0,0,1-1.209.286.844.844,0,0,1-.745-.917,1.123,1.123,0,0,1,.366-.805,1.733,1.733,0,0,1,.6-.328,4.017,4.017,0,0,1,.777-.165c.261-.035.519-.064.78-.076.083,0,.105-.038.111-.118a.313.313,0,0,0-.264-.356,2.007,2.007,0,0,0-.754-.045,3.487,3.487,0,0,0-.742.172c-.124.045-.185-.01-.156-.14s.057-.274.1-.407a.355.355,0,0,1,.293-.261,5.363,5.363,0,0,1,1.353-.111,2.354,2.354,0,0,1,.834.162.721.721,0,0,1,.452.751A5.447,5.447,0,0,1,12.684,165.136Zm3.9-.812c-.226.376-.446.751-.668,1.127l-.955,1.614c-.207.353-.417.7-.624,1.06a.646.646,0,0,1-.232.248.448.448,0,0,1-.239.064c-.1,0-.207,0-.309,0h-.353a.118.118,0,0,1-.124-.172,2.193,2.193,0,0,1,.185-.341c.134-.242.274-.477.411-.719a.452.452,0,0,0,.029-.3c-.064-.5-.156-1-.242-1.493-.1-.579-.2-1.155-.3-1.735a.2.2,0,0,1,.21-.255h.516a.368.368,0,0,1,.427.366l.264,1.614c.006.032.013.064.051.07s.054-.025.07-.051l.872-1.5.13-.223a.534.534,0,0,1,.5-.283c.226.006.452,0,.678,0,.146,0,.146.067.118.166a1.138,1.138,0,0,1-.146.283C16.755,164.019,16.678,164.175,16.586,164.324Zm3.829.729a3.044,3.044,0,0,1-1.356.341c-.156.01-.309.01-.465.01a.323.323,0,0,0-.312.245c-.073.312-.143.627-.216.942a.338.338,0,0,1-.347.277h-.6c-.175,0-.261-.1-.22-.271l.267-1.162c.191-.831.382-1.658.57-2.489.022-.105.048-.207.073-.312a.338.338,0,0,1,.331-.258h.968a8.6,8.6,0,0,1,.869.022,1.83,1.83,0,0,1,.863.258,1,1,0,0,1,.458.815,1.577,1.577,0,0,1-.885,1.582Zm4.115.076c-.108.484-.223.971-.337,1.455a.339.339,0,0,1-.344.28h-.5c-.188,0-.267-.1-.229-.283a.128.128,0,0,0,.006-.073c-.089.057-.172.115-.255.169a1.664,1.664,0,0,1-1.216.261.85.85,0,0,1-.71-.974,1.193,1.193,0,0,1,.843-1.025,3.825,3.825,0,0,1,.92-.213c.255-.032.512-.06.767-.076a.1.1,0,0,0,.105-.108.322.322,0,0,0-.274-.363,2.141,2.141,0,0,0-.805-.035,3.376,3.376,0,0,0-.681.165c-.124.045-.185-.006-.162-.137a3.338,3.338,0,0,1,.105-.426.41.41,0,0,1,.36-.264,5.486,5.486,0,0,1,1.426-.086,2.289,2.289,0,0,1,.6.118.736.736,0,0,1,.532.856A6.323,6.323,0,0,1,24.53,165.129Zm2.047-1.576-.5,2.247-.175.8a.334.334,0,0,1-.325.264c-.1,0-.188,0-.283,0h-.264a.2.2,0,0,1-.223-.274l.166-.742q.243-1.1.487-2.2c.07-.325.143-.649.216-.974a.328.328,0,0,1,.328-.258h.56a.188.188,0,0,1,.207.242c-.064.3-.134.6-.2.9Zm-6.923-.312a2.332,2.332,0,0,0-.576-.035.322.322,0,0,0-.293.245c-.067.286-.134.573-.2.863a.187.187,0,0,0,.134.223.916.916,0,0,0,.207.013,1.779,1.779,0,0,0,.522-.064.764.764,0,0,0,.611-.646.482.482,0,0,0-.407-.6Zm-11.773,0a1.442,1.442,0,0,0-.452-.051H7.273a.321.321,0,0,0-.321.248c-.067.28-.134.56-.2.84a.194.194,0,0,0,.185.255,2.031,2.031,0,0,0,.678-.064.775.775,0,0,0,.614-.691A.478.478,0,0,0,7.881,163.242Zm15.466,2.031c-.14.019-.28.029-.417.045a2.07,2.07,0,0,0-.5.115.487.487,0,0,0-.347.516.253.253,0,0,0,.172.245.913.913,0,0,0,.3.051,1.15,1.15,0,0,0,.576-.181.257.257,0,0,0,.137-.146c.051-.191.1-.385.14-.579C23.423,165.285,23.4,165.266,23.346,165.273Zm-11.84,0c-.111.016-.226.025-.337.038a2.487,2.487,0,0,0-.551.111.506.506,0,0,0-.382.506.257.257,0,0,0,.194.274.86.86,0,0,0,.283.041,1.164,1.164,0,0,0,.627-.21.213.213,0,0,0,.092-.124c.048-.191.1-.379.137-.573C11.579,165.279,11.56,165.263,11.506,165.27Z" transform="translate(0 -154.4)" fill="#515862"/>
</svg>

          </span>
          {% endif %}
          
        
          
            {%- endif -%}
        </div>
        
        <div class="clearfix"></div>
      </div>
      
      
    

    

     
    </div>


<style>
  .site-footer__bottom .payicons span svg path
{
  fill: {{ section.settings.color_payment_icons }};
}
 
  .site-footer__bottom
  {
    background:{{ section.settings.footer_bg_color }};
  }
  .footer__copyright span
  {
    color:{{ section.settings.copyright_color }};
  }
  .footer__copyright a.menulist
  {
     color:{{ section.settings.list_color }};
  }
  .site-footer .site-footer__linklist a,.site-footer__linklist li a,
  .grid-newsletter .collapsible-content p,
  .site-footer__linklist li a::after
  {
    color:{{ section.settings.color_footer_text }}
  }


.footer__newsletter-input::-webkit-input-placeholder 
{ 
  color:{{ section.settings.color_footer_textfield }} !important
}
.footer__newsletter-input:-ms-input-placeholder 
{
 color:{{ section.settings.color_footer_textfield }} !important
}
.footer__newsletter-input::placeholder
{
 color:{{ section.settings.color_footer_textfield }} !important
}
  .footer__newsletter-btn svg text
  {
    fill:{{ section.settings.arrow_textfield }}  !important
  }
  .collapsible-trigger__icon .icon
  {
    fill:{{ section.settings.color_footer_arrow }}
  }
  .footer__title
  {
    color:{{ section.settings.color_footer_heading }}
  }
  #shopify-section-footer
  {
    background:url({{ section.settings.footer_bg  }}) no-repeat top center;
    background-size: cover;
    padding-top: 120px;
    margin-top: 100px;
  }
   .site-footer
  {
      padding-top: 0px;
    margin-top: 0px;
  }
   .site-footer,.site-footer__bottom
  {
    {% if section.settings.footer_bg != blank %}
    background-image:url({{ section.settings.footer_bg  }});
    {% endif %}
    background:none;
  }
  @media(max-width:749px)
    {
       .site-footer
  {
    {% if section.settings.footer_bg_mob %}
    background-image:url({{ section.settings.footer_bg_mob }});
    {% endif %}
    background:none;
  }
       #shopify-section-footer
  {
    background:url({{ section.settings.footer_bg_mob  }}) no-repeat top center;
    background-size: cover;
    padding-top: 0px;
    margin-top: 35px;
  }
    }
</style>



{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
 {
        "type": "header",
        "content": "Footer Background options"
      },
 {
        "type": "color",
        "id": "footer_bg_color",
        "label": "Footer Background - Color"
      }, 
 {
        "type": "color",
        "id": "color_footer_heading",
        "label": "Footer Title Color",
        "default": "#1C2F5C"
      },
  {
        "type": "color",
        "id": "color_footer_text",
        "label": "Footer Text Color",
        "default": "#343F4C"
      },
 {
        "type": "color",
        "id": "color_footer_arrow",
        "label": "Footer Arrow Color",
        "default": "#343F4C"
      },
{
        "type": "color",
        "id": "color_footer_textfield",
        "label": "Footer Newsletter textfield Color",
        "default": "#7E7E7E"
      },
{
        "type": "color",
        "id": "arrow_textfield",
        "label": "Footer Newsletter textfield Arrow Color",
        "default": "#7E7E7E"
      },
 {
        "type": "textarea",
        "id": "footer_bg",
        "label": "Footer Background - Desktop"
      },
 {
        "type": "textarea",
        "id": "footer_bg_mob",
        "label": "Footer Background - Mobile"
      },

      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "Show currency flags",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional footer content"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons"
      },
{
            "type": "textarea",
            "id": "payment_icons",
            "label": "Payment Icons"
},
      {
        "type": "color",
        "id": "color_payment_icons",
        "label": "Payment icons Colour",
        "default": "#343f4c"
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      },
 {
        "type": "color",
        "id": "copyright_color",
        "label": "Copyright Color",
        "default": "#343f4c"
      }, 
 {
            "type": "link_list",
            "id": "policies",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
{
        "type": "color",
        "id": "list_color",
        "label": "Bottom Menu Color",
        "default": "#343f4c"
      }
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "Logo and social",
        "limit": 1,
        "settings": [ 
 {
            "type": "textarea",
            "id": "logosvgmob",
            "label": "Logo SVG image For Mobile"
}, 
{
            "type": "textarea",
            "id": "logosvg",
            "label": "Logo SVG image"
},

{
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image -Desktop"
          }, 
{
            "type": "image_picker",
            "id": "moblogo",
            "label": "Logo image -Mobile"
          },
          {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "Logo height",
            "default": 50,
            "min": 20,
            "max": 120,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 20,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show title",
            "default": true
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 20,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show title",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 20,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "custom",
        "name": "Custom text",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show title",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 20,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "logo_social",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
